.homer @media (min-width: 1281px) {
width:600px;
height: 600px;
background:url("http://tuftsdev.github.io/WebProgramming/assignments/homer.jpg") 0 0px;
}

@media (min-width: 1025px) and (max-width: 1024px) {
width:300px;
height: 300px;
background:url("http://tuftsdev.github.io/WebProgramming/assignments/homer.jpg") 0 0px;
}
@media (min-width: 769px) and (max-width: 1024px) {
width:300px;
height: 300px;
background:url("http://tuftsdev.github.io/WebProgramming/assignments/homer.jpg") 300 0px;
}
@media (min-width: 481px) and (max-width: 768px) {
width:300px;
height: 300px;;
background:url("http://tuftsdev.github.io/WebProgramming/assignments/homer.jpg") 0 300px;
}

@media (max-width: 480px){
width:300px;
height: 300px;
background:url("http://tuftsdev.github.io/WebProgramming/assignments/homer.jpg") 300 300px;
}
